@import "src/styles/_colors.scss";

.map {
	width: 100%;
	height: calc(100vh - 86px);
}

.title {
	align-items: center;
	display: flex;
	background-color: $dark-green;
	color: $light-green;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
}

.button {
	background-color: transparent;
	border: none;
	border-radius: 50px;
	color: $white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	&:hover {
		background-color: $gray
	}
}
