@import "src/styles/_colors.scss";
@import "src/styles/styles.scss";

.container {
	align-items: center;
	background-color: $light-tan;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

.table {
	display: flex;
	justify-content: center;
	padding: 5px;
}

.button {
	@extend %button;
	margin-top: 15px;
	min-width: 300px;
}

.content {
	margin: 20px 10px 0;
	width: 800px;
}

.image {
	object-fit: contain !important;
}

.buttons {
	display: flex;
	width: 800px;
	justify-content: space-between;
	padding: 15px 0;
}
