@import "src/styles/_colors.scss";
@import "src/styles/styles.scss";

.displayOrdersColumns{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 5px;
	background-color: $light-green;
	//border: 1px solid #888;
}

.cards{
	//background-color: $blue;
}

.cardColumns{
	padding: 5px;
}
