@import "src/styles/_colors.scss";
@import "src/styles/styles.scss";

.container {
	align-items: center;
	background-color: $light-tan;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
	margin: 40px;
}

.button {
	@extend %button;
	margin-top: 25px;
	min-width: 200px;
}
